<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.git.db.mapper.CaseHandleImplMapper" >
  <resultMap id="BaseResultMap" type="com.git.db.beans.CaseHandleImpl" >
    <id column="Seq_Id" property="seqId" jdbcType="BIGINT" />
    <result column="User_Id" property="userId" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="Case_Id" property="caseId" jdbcType="BIGINT" />
    <result column="orgid" property="orgid" jdbcType="VARCHAR" />
    <result column="orgname" property="orgname" jdbcType="VARCHAR" />
    <result column="Create_Operator" property="createOperator" jdbcType="BIGINT" />
    <result column="Modify_Operator_Id" property="modifyOperatorId" jdbcType="BIGINT" />
    <result column="Modify_Time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="Create_Time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Seq_Id, User_Id, username, Case_Id, orgid, orgname, Create_Operator, Modify_Operator_Id, 
    Modify_Time, Create_Time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.git.db.beans.CaseHandleImplExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_case_handle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_case_handle
    where Seq_Id = #{seqId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_case_handle
    where Seq_Id = #{seqId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.git.db.beans.CaseHandleImplExample" >
    delete from tbl_case_handle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.git.db.beans.CaseHandleImpl" >
    insert into tbl_case_handle (Seq_Id, User_Id, username, 
      Case_Id, orgid, orgname, 
      Create_Operator, Modify_Operator_Id, Modify_Time, 
      Create_Time)
    values (#{seqId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, 
      #{caseId,jdbcType=BIGINT}, #{orgid,jdbcType=VARCHAR}, #{orgname,jdbcType=VARCHAR}, 
      #{createOperator,jdbcType=BIGINT}, #{modifyOperatorId,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.git.db.beans.CaseHandleImpl" >
    insert into tbl_case_handle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seqId != null" >
        Seq_Id,
      </if>
      <if test="userId != null" >
        User_Id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="caseId != null" >
        Case_Id,
      </if>
      <if test="orgid != null" >
        orgid,
      </if>
      <if test="orgname != null" >
        orgname,
      </if>
      <if test="createOperator != null" >
        Create_Operator,
      </if>
      <if test="modifyOperatorId != null" >
        Modify_Operator_Id,
      </if>
      <if test="modifyTime != null" >
        Modify_Time,
      </if>
      <if test="createTime != null" >
        Create_Time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seqId != null" >
        #{seqId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="caseId != null" >
        #{caseId,jdbcType=BIGINT},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="orgname != null" >
        #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="createOperator != null" >
        #{createOperator,jdbcType=BIGINT},
      </if>
      <if test="modifyOperatorId != null" >
        #{modifyOperatorId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.git.db.beans.CaseHandleImplExample" resultType="java.lang.Integer" >
    select count(*) from tbl_case_handle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_case_handle
    <set >
      <if test="record.seqId != null" >
        Seq_Id = #{record.seqId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        User_Id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.caseId != null" >
        Case_Id = #{record.caseId,jdbcType=BIGINT},
      </if>
      <if test="record.orgid != null" >
        orgid = #{record.orgid,jdbcType=VARCHAR},
      </if>
      <if test="record.orgname != null" >
        orgname = #{record.orgname,jdbcType=VARCHAR},
      </if>
      <if test="record.createOperator != null" >
        Create_Operator = #{record.createOperator,jdbcType=BIGINT},
      </if>
      <if test="record.modifyOperatorId != null" >
        Modify_Operator_Id = #{record.modifyOperatorId,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null" >
        Modify_Time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        Create_Time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_case_handle
    set Seq_Id = #{record.seqId,jdbcType=BIGINT},
      User_Id = #{record.userId,jdbcType=BIGINT},
      username = #{record.username,jdbcType=VARCHAR},
      Case_Id = #{record.caseId,jdbcType=BIGINT},
      orgid = #{record.orgid,jdbcType=VARCHAR},
      orgname = #{record.orgname,jdbcType=VARCHAR},
      Create_Operator = #{record.createOperator,jdbcType=BIGINT},
      Modify_Operator_Id = #{record.modifyOperatorId,jdbcType=BIGINT},
      Modify_Time = #{record.modifyTime,jdbcType=TIMESTAMP},
      Create_Time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.git.db.beans.CaseHandleImpl" >
    update tbl_case_handle
    <set >
      <if test="userId != null" >
        User_Id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="caseId != null" >
        Case_Id = #{caseId,jdbcType=BIGINT},
      </if>
      <if test="orgid != null" >
        orgid = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="orgname != null" >
        orgname = #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="createOperator != null" >
        Create_Operator = #{createOperator,jdbcType=BIGINT},
      </if>
      <if test="modifyOperatorId != null" >
        Modify_Operator_Id = #{modifyOperatorId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        Modify_Time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        Create_Time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Seq_Id = #{seqId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.git.db.beans.CaseHandleImpl" >
    update tbl_case_handle
    set User_Id = #{userId,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR},
      Case_Id = #{caseId,jdbcType=BIGINT},
      orgid = #{orgid,jdbcType=VARCHAR},
      orgname = #{orgname,jdbcType=VARCHAR},
      Create_Operator = #{createOperator,jdbcType=BIGINT},
      Modify_Operator_Id = #{modifyOperatorId,jdbcType=BIGINT},
      Modify_Time = #{modifyTime,jdbcType=TIMESTAMP},
      Create_Time = #{createTime,jdbcType=TIMESTAMP}
    where Seq_Id = #{seqId,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.git.db.beans.CaseHandleImplExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_case_handle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>