<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.git.db.mapper.SysSequenceMapper" >
  <resultMap id="BaseResultMap" type="com.git.db.beans.SysSequence" >
    <id column="Seq_Name" property="seqName" jdbcType="VARCHAR" />
    <result column="Prefix" property="prefix" jdbcType="VARCHAR" />
    <result column="Suffix" property="suffix" jdbcType="VARCHAR" />
    <result column="Seq_No" property="seqNo" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Seq_Name, Prefix, Suffix, Seq_No
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.git.db.beans.SysSequenceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_sequence
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_sequence
    where Seq_Name = #{seqName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_sequence
    where Seq_Name = #{seqName,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.git.db.beans.SysSequenceExample" >
    delete from sys_sequence
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.git.db.beans.SysSequence" >
    insert into sys_sequence (Seq_Name, Prefix, Suffix, 
      Seq_No)
    values (#{seqName,jdbcType=VARCHAR}, #{prefix,jdbcType=VARCHAR}, #{suffix,jdbcType=VARCHAR}, 
      #{seqNo,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.git.db.beans.SysSequence" >
    insert into sys_sequence
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seqName != null" >
        Seq_Name,
      </if>
      <if test="prefix != null" >
        Prefix,
      </if>
      <if test="suffix != null" >
        Suffix,
      </if>
      <if test="seqNo != null" >
        Seq_No,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seqName != null" >
        #{seqName,jdbcType=VARCHAR},
      </if>
      <if test="prefix != null" >
        #{prefix,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null" >
        #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null" >
        #{seqNo,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.git.db.beans.SysSequenceExample" resultType="java.lang.Integer" >
    select count(*) from sys_sequence
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_sequence
    <set >
      <if test="record.seqName != null" >
        Seq_Name = #{record.seqName,jdbcType=VARCHAR},
      </if>
      <if test="record.prefix != null" >
        Prefix = #{record.prefix,jdbcType=VARCHAR},
      </if>
      <if test="record.suffix != null" >
        Suffix = #{record.suffix,jdbcType=VARCHAR},
      </if>
      <if test="record.seqNo != null" >
        Seq_No = #{record.seqNo,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_sequence
    set Seq_Name = #{record.seqName,jdbcType=VARCHAR},
      Prefix = #{record.prefix,jdbcType=VARCHAR},
      Suffix = #{record.suffix,jdbcType=VARCHAR},
      Seq_No = #{record.seqNo,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.git.db.beans.SysSequence" >
    update sys_sequence
    <set >
      <if test="prefix != null" >
        Prefix = #{prefix,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null" >
        Suffix = #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null" >
        Seq_No = #{seqNo,jdbcType=BIGINT},
      </if>
    </set>
    where Seq_Name = #{seqName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.git.db.beans.SysSequence" >
    update sys_sequence
    set Prefix = #{prefix,jdbcType=VARCHAR},
      Suffix = #{suffix,jdbcType=VARCHAR},
      Seq_No = #{seqNo,jdbcType=BIGINT}
    where Seq_Name = #{seqName,jdbcType=VARCHAR}
  </update>
</mapper>